body {
    background-image: url(lbj.png);
    background-size: cover;
    opacity: 0.5;
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}

.grid-left,
.grid-right {
    padding: 20px;
}

.grid-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-row,
.bottom-row {
    padding: 20px;
}

.bottom {
    display: grid;
    padding: 20px;
}