
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding: 20px;
}

.grid1{
    box-shadow: 15px 15px 10px black;
    background-color: gold;
    grid-row: span 2;
}


.grid2 {
    box-shadow: 15px 15px 10px black;
    background-color: gold;
}

.grid3 {
    box-shadow: 15px 15px 10px black;
    background-color: gold;
    text-align: center;
    float: right;
}

.grid4 {
    box-shadow: 15px 15px 10px black;
    background-color: gold;
    grid-column: span 2;
}



ul#l1 {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
}

p#quote {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
}